.hero-section {
    position: relative;
    height: 800px;
    z-index: 10;
}

.bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:
      radial-gradient(circle at bottom -80% left -40%, rgba(96, 165, 250, 0.15) 50%, transparent 70%),
      radial-gradient(circle at top right, rgba(96, 165, 250, .4) 10%, transparent 50%),
      rgb(250, 250, 250);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: moveBackground 8s ease infinite;
    z-index: -1;
  }

.bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/patronbg.png');
    background-attachment: fixed;
    opacity: .08;
    z-index: 1;
}

.hero-container {
    height: 100%;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}